body {
    margin: 0px;
    text-align: center;
    font-family: arial, monospace;
}

h1 {
    margin: 0px;
}

.top {
    background-color: cadetblue;
    position: relative;
    padding-top: 100px;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}