body {
    background-color: #D3E0EA;
}

hr {
    border-color: slategray;
    border-style: dotted none none;
    border-width: 5px;
    width: 7%;
}

img {
    height: 150px;
}

h1, h3 {
    color: #66bfbf;
}